::placeholder{
  color: var(--placeholder-color-text);
}
q{
  position: relative;
  display: block;
  padding: 40px 10px 0 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  quotes: "\00ab" "\00bb";
  font-style: italic;
  max-width: 450px;
  overflow: hidden;
  &::before{
    content: '\201c';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
  }
  &::after{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 2px;
    height: 100%;
    background: var(--color-red);
  }
}
.main{
  width: 100%;
  min-height: 100vh;
}
.container{
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
span{
  display: inline-block;
}
h1, h2, h3, h4, h5, h6{
  line-height: 1.24;
}
h1{
  font-size: 30px;
  font-weight: bold;
}
h2{
  font-size: 28px;
  font-weight: bold;
}
h3{
  font-size: 18px;
}
h4{
  font-size: 16px;
}
h5{
  font-size: 14px;
}
h6{
  font-size: 12px;
}
/* Две строки */
.row-2{
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
/* Три строки */
.row-3{
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.btn-red{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--color-red);
  padding: 12px 18px;
  text-transform: uppercase;
  color: var(--color-white);
  border-radius: 2px;
}
.btn-black{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--color-black);
  padding: 12px 18px;
  text-transform: uppercase;
  color: var(--color-white);
  border-radius: 2px;
}
.date{
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  padding-left: 34px;
  &::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    width: 24px;
    height: 24px;
    background: url("../img/icon_time-24px.svg");
  }
}
.date-small{
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  padding-left: 24px;
  color: var(--color-gray);
  margin-bottom: 10px;
  &::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    width: 15px;
    height: 15px;
    background: url("../img/icon_time-15px.svg");
  }
}
.small-text{
  font-weight: 600;
  font-size: 16px;
  color: var(--smal-text-color);
}
.category{
  position: absolute;
  top: 20px;
  left: 15px;
  background: var(--color-green);
  color: var(--color-white);
  border-radius: var(--border-radius);
  padding: 7px 20px;
  text-transform: uppercase;
  z-index: 9;
}
.flex-col{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}
.flex-block{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.col{
  position: relative;
  max-width: 350px;
  width: 100%;
  height: 370px;
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 25px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:last-child{
    margin-bottom: 0;
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-liner);
    z-index: 8;
  }
}
.col__content{
  position: absolute;
  top: auto;
  left: 0;
  bottom: 25px;
  padding: 0 15px;
  color: var(--color-white);
  z-index: 9;
}
.reset-ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.color-black{
  color: var(--color-black);
}
.flex-blk{
  display: flex;
  justify-content: space-between;
  .content{
    max-width: 730px;
    width: 100%;
  }
}
.aside{
  max-width: 350px;
  .content-blk{
    padding: 20px 15px;
    border: var(--border);
    border-radius: var(--border-radius);
  }
}
.title{}
.title-line{
  position: relative;
  padding-bottom: 4px;
  &::before{
    content: '';
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--background-dark);
  }
}
.section{
  margin-bottom: var(--margin-main);
}
.block-row{
  max-width: 354px;
  width: 100%;
  .date-small{
    margin-bottom: 7px;
  }
  .row{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-right: 15px;
    .title{
      font-size: 16px;
    }
    a{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .img{
    width: 88px;
    height: 88px;
    object-fit: cover;
    border-radius: var(--border-radius);
    margin-right: 10px;
  }
}
.popular-news{
  margin-bottom: 30px;
  &:last-child{
    margin-bottom: 0;
  }
  .title{
    margin-bottom: 20px;
  }
}
.adblock{
  border: var(--border);
  border-radius: var(--border-radius);
  object-fit: cover;
  width: 100%;
  height: 310px;
  margin-bottom: 30px;
  &:last-child{
    margin-bottom: 0;
  }
}
