*{
  --color-red: #f44336;
  --color-black: #000;
  --color-black-lite: rgba(0, 0, 0, 0.8);
  --color-gray: #bebebe;
  --color-white: #fff;
  --color-green: #4CAF50;
  --text-color: #373737;
  --text-size: 16px;
  --text-lh: 1.35;
  --nav-color: rgba(0, 0, 0, 0.8);
  --vav-active-color: #F44336;
  --border-radius: 7px;
  --border: 1px solid #DDDDDD;
  --smal-text-color: #010101;
  --placeholder-color-text: #9b9b9b;
  --background-gray: #E5EAEC;
  --background-input: #C4C4C4;
  --background-dark:#2B2B2B;
  --background-liner: linear-gradient(0deg, #1A1A1A 0%, rgba(72, 72, 72, 0) 86.41%);
  --margin-main: 30px;
}